@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanX-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanX-UltraLight.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanX-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanX-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanX-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanX-DemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanX-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanX-ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanX-Black.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 950;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanX-ExtraBlack.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 1000;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanX-Heavy.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanXFaNum';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanXFaNum-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanXFaNum';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanXFaNum-UltraLight.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanXFaNum';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanXFaNum-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanXFaNum';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanXFaNum-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanXFaNum';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanXFaNum-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanXFaNum';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanXFaNum-DemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanXFaNum';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanXFaNum-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanXFaNum';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanXFaNum-ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanXFaNum';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanXFaNum-Black.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanXFaNum';
  font-style: normal;
  font-weight: 950;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanXFaNum-ExtraBlack.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanXFaNum';
  font-style: normal;
  font-weight: 1000;
  font-display: swap;
  src: url('/fonts/IRANYekan/IRANYekanXFaNum-Heavy.woff2') format('woff2');
}
