@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Vazirmatn", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: 'Vazirmatn', sans-serif;
  direction: rtl;
  background-color: #f3f4f6;
}

@media print {
  body {
    background: white !important;
    background-color: white !important;
    color: black !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .no-print {
    display: none !important;
  }
  .print-fill {
    width: 100% !important;
    max-width: 100% !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  /* Force page size margins */
  @page {
    size: A4;
    margin: 1.5cm;
  }
}
